### Importación de datos

In [19]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [20]:
facturacion_total = tienda["Precio"].sum()
facturacion_promedio = tienda["Precio"].mean()
top_facturacion = tienda.groupby("Producto")["Precio"].sum().sort_values(ascending=False).head(5)

In [21]:
print(f"Facturación total estimada: ${facturacion_total:,.2f}")
print(f"Facturación promedio por venta: ${facturacion_promedio:,.2f}")
display(top_facturacion)

Facturación total estimada: $1,150,880,400.00
Facturación promedio por venta: $487,867.91

Producto
TV LED UHD 4K       142150200.0
Refrigerador        112143300.0
Iphone 15            97902200.0
Smart TV             67452100.0
Lavadora de ropa     65783600.0
Name: Precio, dtype: float64

# 2. Ventas por categoría

In [22]:
ventas_categoria = tienda.groupby("Categoría del Producto").agg({
    "Precio": ["count", "sum", "mean"]
})
ventas_categoria.columns = ["Número de ventas", "Total facturado", "Precio promedio"]

In [23]:
display(ventas_categoria.sort_values(by="Total facturado", ascending=False))

                         Número de ventas  Total facturado  Precio promedio
Categoría del Producto
Electrónicos                          448      429493500.0     9.586908e+05
Electrodomésticos                     312      363685200.0     1.165658e+06
Muebles                               465      187633700.0     4.035133e+05
Instrumentos musicales                182       91299000.0     5.016429e+05
Deportes y diversión                  284       39290000.0     1.383451e+05
Juguetes                              324       17995700.0     5.554228e+04
Artículos para el hogar               171       12698400.0     7.425965e+04
Libros                                173        8784900.0     5.077977e+04

# 3. Calificación promedio de la tienda

In [24]:
calificacion_promedio = tienda["Calificación"].mean()
calificacion_ciudad = tienda.groupby("Lugar de Compra")["Calificación"].mean().sort_values(ascending=False)

In [25]:
print(f"Calificación promedio general: {calificacion_promedio:.2f}")
display(calificacion_ciudad)

Calificación promedio general: 3.98

Lugar de Compra
Soacha           4.600000
Neiva            4.500000
Bucaramanga      4.387097
Leticia          4.156250
Villavicencio    4.090909
Bogotá           4.089431
Pasto            4.043478
Cartagena        4.037736
Inírida          4.000000
Cali             3.985866
Pereira          3.947368
Cúcuta           3.882353
Medellín         3.866785
Manizales        3.800000
Santa Marta      3.750000
Barranquilla     3.573333
Riohacha         3.450000
Armenia          3.357143
Valledupar       2.666667
Name: Calificación, dtype: float64

# 4. Productos más y menos vendidos

In [26]:
productos_vendidos = tienda["Producto"].value_counts()

In [27]:
print("Productos más vendidos:")
display(productos_vendidos.head(5))

Productos más vendidos:

Producto
Microondas          60
TV LED UHD 4K       60
Armario             60
Secadora de ropa    58
Mesa de noche       56
Name: count, dtype: int64

In [28]:
print("Productos menos vendidos:")
display(productos_vendidos.tail(5))

Productos menos vendidos:

Producto
Ciencia de datos con Python    39
Pandereta                      36
Olla de presión                35
Auriculares con micrófono      33
Celular ABXY                   33
Name: count, dtype: int64

# 5. Envío promedio por tienda

In [29]:
envio_promedio = tienda.groupby("Lugar de Compra")["Costo de envío"].mean().sort_values()

In [30]:
print("Costo promedio de envío por tienda o ciudad:")
display(envio_promedio)

Costo promedio de envío por tienda o ciudad:

Lugar de Compra
Armenia          17314.285714
Valledupar       18766.666667
Pereira          22403.759398
Santa Marta      22593.750000
Cartagena        22624.528302
Barranquilla     23708.000000
Bogotá           23815.853659
Riohacha         24357.500000
Leticia          24450.000000
Medellín         28207.104796
Inírida          28460.000000
Cali             28827.561837
Manizales        29140.000000
Bucaramanga      30587.096774
Neiva            31516.666667
Villavicencio    34709.090909
Pasto            35078.260870
Cúcuta           40129.411765
Soacha           43420.000000
Name: Costo de envío, dtype: float64